a {
  cursor: pointer !important;
}
.btn.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}
.btn.btn-outline-white:hover {
  color: #343a40;
  background-color: #fff;
  border-color: #fff;
}
.container-fluid {
  padding: 0;
}
.header-wrap {
  height: 100vh;
  background: url('../images/pic4.jpg') no-repeat;
  background-size: 100% 100%;
}
.page {
  min-height: 100vh;
}
.container-fluid .navbar {
  background: rgba(0, 0, 0, 0.35);
}